@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

:root {
  --padding: 60px;
}

body {
  margin: 80px 100px 80px 100px;
}

img {
  width: 100%;
  object-fit: contain;
}

h1 {
  font-size: 19px;
  font-family: "Barlow", sans-serif;
  padding-bottom: var(--padding);
}

.app_rounded_corners {
  border-radius: 10px;
}

/* containers */

.container_wallpaper {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-gap: 20px;
  overflow: hidden;
  max-width: 100%;
}

.container_facebook {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  max-width: 100%;
  padding-top: 20px;
}

.plus_padding {
  padding-top: 20px;
}

.container_transform_mhka {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  max-width: 100%;
  padding-top: 20px;
}

.container_reverie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  max-width: 100%;
  padding-top: 20px;
}

.container_rrrats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  max-width: 100%;
  padding-top: 20px;
}

/* responsive */

@media (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 20px;
  }

  .container_wallpaper,
  .container_facebook,
  .container_transform_mhka,
  .container_rrrats {
    display: inline-block;
    padding-top: 0px;
  }

  .container_reverie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    overflow: hidden;
    max-width: 100%;
    padding: 0px;
  }

  h1 {
    padding-bottom: 30px;
    padding-top: 5px;
    margin: 0px;
    font-size: 16px;
  }

  .plus_padding {
    padding-top: 0px;
  }

  .app_rounded_corners {
    border-radius: 5px 5px 5px 5px;
  }
}
