@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

.hide {
  display: none !important;
}

body {
  margin: 0px;
}

img {
  width: 100%;
  object-fit: contain;
}

/* tekst */
h1 {
  padding-bottom: 30px;
  padding-top: 5px;
  margin: 0px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  padding-bottom: 25px;
  font-weight: 100;
  color: black;
}

.card_beschrijving {
  font-style: italic;
}

.titel {
  text-decoration: underline;
}

.social_link {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  color: black;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
}

h3:hover {
  color: rgb(131, 131, 131);
}

/* links */

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:active {
  color: rgb(131, 131, 131);
}

.html_link:hover {
  /* opacity: 0.5; fix me */
}

/* cards achtergrond images */

.card_camscanner,
.card_wallpaper,
.card_facebook,
.card_facial_recognition,
.card_transform_mhka,
.card_reverie,
.card_rrrats {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card_camscanner {
  background-image: url("img/card_images/Schermafbeelding\ 2020-01-29\ om\ 16.22.21.png");
}

.card_wallpaper {
  background-image: url("img/card_images/ipad_wallpaper.png");
}

.card_facebook {
  background-image: url("img/card_images/boek_open.png");
}

.card_facial_recognition {
  background-image: url("img/card_images/krant.png");
}

.card_transform_mhka {
  background-image: url("img/card_images/poster_blauw.jpg");
}

.card_reverie {
  background-image: url("img/card_images/mockup_app.jpg");
}

.card_rrrats {
  background-image: url("img/card_images/rats\(groot\).jpg");
}

/* containers detailpagina's*/
/* tekst */

.detail_h1 {
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.detail_beschrijving {
  padding: 0px 20px 20px 20px;
  line-height: 1.4;
}

/* containers */

.all_containers {
  padding: 20px;
}

/* camscanner */

.container_camscanner_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  overflow: hidden;
  max-width: 100%;
  padding: 10px 0px 0px 0px;
}

.conatainer_wallpaper_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  overflow: hidden;
  max-width: 100%;
  padding: 0px 0px 10px 0px;
}

.conatainer_facebook_grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  overflow: hidden;
  max-width: 100%;
  padding: 0px 0px 10px 0px;
}

/* .container_wallpaper,
.container_facebook,
.container_transform_mhka,
.container_rrrats {
  display: inline-block;
  padding-top: 0px;
}

.container_reverie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  overflow: hidden;
  max-width: 100%;
  padding: 0px;
}

.container_about {
  margin-bottom: 20px;
} */

/* buttons */

.container_buttons {
  position: fixed;
  background: white;
  width: 100vw;
  margin: 0px;
  padding: 20px 20px 20px 20px;
}

.btn_linkedin {
  color: black;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  text-decoration: underline;
}

.btn_about {
  display: none;
  text-decoration: underline;
}

/* about */

.container_about_mobile {
  padding: 50px 20px 0px 20px;
}

.titel {
  font-weight: 600;
}

/* ------------------------------responsive--------------------------------- */

@media (min-width: 1025px) {
  .br {
    display: none;
  }

  .all_containers {
    margin: 80px 100px 80px 100px;
    padding: 0px;
  }

  .container_wallpaper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
  }

  .container_facebook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .plus_padding {
    margin-top: 20px;
  }

  .container_transform_mhka {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .container_reverie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .container_rrrats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  h1 {
    font-size: 19px;
    padding: 15px 0px 40px 0px;
  }

  .plus_padding {
    padding-top: 0px;
  }

  .app_rounded_corners {
    border-radius: 10px;
  }

  /* buttons */

  .container_buttons {
    position: fixed;
    background: none;
    width: 100vw;
    height: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 900;
  }

  .btn_about,
  .btn_linkedin {
    font-size: 22px;
    color: black;
    font-family: "Barlow", sans-serif;
  }

  .btn_about {
    display: block;
    transform: rotate(-90deg);
    transform-origin: left top 0;
    left: 30px;
    top: 50vh;
    position: fixed;
  }

  .btn_about:active {
    color: rgb(131, 131, 131);
  }

  .btn_linkedin {
    transform: rotate(90deg);
    transform-origin: right top 0;
    right: 30px;
    top: 80vh;
    position: fixed;
  }

  /* over mezelf */

  .container_about_desktop {
    background-color: rgb(255, 255, 255);
    height: 100vw;
    width: 100vw;
    position: fixed;
    z-index: 20;
    top: 0px;
    overflow-y: hidden;
  }

  .container_about_tekst {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px;
  }

  .container_about_mobile {
    display: none;
  }
}
