/* cards achtergrond images */
.all_containers_index {
  margin: 0px 20px 0px 20px;
}

.card_camscanner,
.card_wallpaper,
.card_facebook,
.card_facial_recognition,
.card_transform_mhka,
.card_reverie,
.card_rrrats {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card_camscanner {
  background-image: url("/img/card_images/Schermafbeelding\ 2020-01-29\ om\ 16.22.21.png");
}

.card_wallpaper {
  background-image: url("/img/card_images/ipad_wallpaper.png");
}

.card_facebook {
  background-image: url("/img/card_images/boek_open.png");
}

.card_facial_recognition {
  background-image: url("/img/card_images/krant.png");
}

.card_transform_mhka {
  background-image: url("/img/card_images/poster_blauw.jpg");
}

.card_reverie {
  background-image: url("/img/card_images/mockup_app.jpg");
}

.card_rrrats {
  background-image: url("/img/card_images/rats\(groot\).jpg");
}

.card_beschrijving {
  font-style: italic;
}

.copyright {
  text-align: center;
}
/* ------------------------------responsive--------------------------------- */

@media (min-width: 1025px) {
  .about_all_containers {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 150px 100px 80px 100px;
  }

  .all_containers_index {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px;
    margin: 0px;
  }

  .card_beschrijving {
    font-size: 17px;
    padding: 10px 0px 10px 0px;
  }
}
