@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

@import "/styles/_header.css";
@import "/styles/_detail.css";
@import "/styles/_about.css";
@import "/styles/_index.css";

/* algemeen */

body {
  margin: 0px;
}

img {
  width: 100%;
  object-fit: contain;
}

h1 {
  padding-bottom: 30px;
  padding-top: 5px;
  margin: 0px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  padding-bottom: 25px;
  font-weight: 100;
  color: black;
}

/* tekst */

h5 {
  padding-bottom: 30px;
  margin: 0px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  padding-bottom: 25px;
  font-weight: 100;
  color: black;
}

/* about container */

.titel {
  font-weight: 600;
  text-decoration: none;
}

.container_about {
  padding: 100px 20px 0px 20px;
}

/* scroll header */

.nav-up {
  top: -120px;
}

.copyright {
  text-align: center;
}

/* ------------------------------responsive--------------------------------- */

@media (min-width: 1025px) {
  /* header */
  header {
    position: fixed;
    margin: 0px;
    top: 0px;
    background-color: white;
  }

  .scheidingslijn_hoofd_titel {
    height: 1px;
    background-color: black;
    margin: 0px 100px 0px 100px;
  }

  .btn_home {
    color: black;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 20px 100px 20px 100px;
    font-weight: 600;
  }

  h5 {
    padding-bottom: 30px;
    margin: 0px;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    padding-bottom: 25px;
    font-weight: 100;
    color: black;
  }

  .social_link {
    font-size: 18px;
  }

  /* homepage */

  .about_all_containers {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 150px 100px 80px 100px;
  }

  .all_containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0px;
  }

  .card_beschrijving {
    font-size: 17px;
    padding: 10px 0px 10px 0px;
  }

  .container_wallpaper {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
  }

  /* detailcontainers */
  .detail_beschrijving {
    padding: 0px;
    font-size: 18px;
  }

  .detail_h1 {
    padding: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
  }

  .detail_text_images_camscanner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    margin: 120px 100px 20px 100px;
  }

  /* .container_facebook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .plus_padding {
    margin-top: 20px;
  }

  .container_transform_mhka {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .container_reverie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .container_rrrats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    overflow: hidden;
    max-width: 100%;
    padding-top: 20px;
  }

  .plus_padding {
    padding-top: 0px;
  }

  .app_rounded_corners {
    border-radius: 10px;
  } */

  /* over mezelf */

  .container_about {
    padding: 0px 40px 0px 0px;
  }

  .container_about_desktop {
    padding: 0px;
  }

  .container_about_tekst {
    display: flex;
    flex-direction: column;
  }
}
