@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

@import "/styles/_header.css";
@import "/styles/_detail.css";
@import "/styles/_about.css";
@import "/styles/_index.css";

/* algemeen */

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 100%;
  object-fit: contain;
}

h1 {
  padding-bottom: 30px;
  padding-top: 5px;
  margin: 0px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  padding-bottom: 25px;
  font-weight: 100;
  color: black;
}

/* tekst */

h5 {
  padding-bottom: 30px;
  margin: 0px;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  padding-bottom: 25px;
  font-weight: 100;
  color: black;
}
